* {
    margin: 5px;
    font-family: "Arima Madurai", cursive;
    text-decoration: none;
  }

  html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(1, 34, 73);
  /* overflow: hidden; */
}

#web-logo {
  font-size: 1.6rem;
  font-family: "Pushster", cursive;
  color: rgb(255, 255, 255);
}

.links {
  font-size: 0.9rem;
  color: #ffffff;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin: 15px;
    padding-top: 10px;
  }
